body {
    margin: 0;
    font-family: 'Arial', sans-serif;

    background: linear-gradient(135deg, #4B0C74, #1E1C4A);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_container {
    display: flex;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    background-color: aliceblue;
}