:root {
    --positiveColor: #0B9457;
    --negative: #FC684E;
    --white: #fff;
    --black: #000;
    --primaryColor: #7E4AC0;
    --grayedTextColor: #909498;
    --darkBackground: #19252F;
    --darkBackground02: #0E1922;
    --darkGray: #36434F;
    --darkStroke: #242424;
}

$base-color: #c6538c; // example of scss color variable
$borderColor02: #606060;
$border-dark: rgba($base-color, 0.88);

.mainContainer {
    background-color: var(--darkBackground);
    // width: 100%;
    width: 83vw;
    height: 100%;
    display: flex;
    user-select: none; // to prevent text highlighting
    height: 100vh;
    margin-bottom: 40px;

    h3 {
        color: var(--white);
    }

    p {
        color: var(--white);
    }
}

.sideNaveContainer {
    padding: 24px;
    background-color: var(--white);
    min-width: 264px;
    min-height: 780px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    border-right: 1px solid #E5E5E6;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.sideNavTopCon {
    width: 100%;
}

.sideNavBottomCon {
    width: 100%;
}

.sidenavLogoCon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.logoFill {
    background-color: var(--primaryColor);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenaveLogoTitle {
    font-size: 20px;
    font-weight: 700;
}

.sidenavOptionCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidenavOptionBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    transition: all ease-in-out .1s;

    &:hover {
        transform: scale(1.07);
        transition: all ease-in-out .1s;
        color: var(--primaryColor);
    }

    img {
        width: 24px;
    }
}

.loggedUserMenuBtn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
        width: 24px;
    }
}

.dividerLine {
    height: 2px;
    width: 90%;
    border-radius: 2px;
    background-color: var(--black);
    opacity: 0.5;
}

.dividerLine02 {
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--grayedTextColor);
    opacity: 0.5;
}

.subtitle {
    font-size: 10px;
    font-weight: 400;
    opacity: .5;
}

.optionFont {
    font-weight: 400;
    font-size: 16px;
}

.loggedUserBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.loggedUserTextBlock h1 {
    font-size: 16px;
    font-weight: 400;
}

.loggedUserTextBlock p {
    font-size: 12px;
    margin-top: -10px;
    color: #909498;
}

.contentContainer {
    background-color: var(--darkBackground);
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    h1 {
        font-size: 42px;
        color: var(--white);
    }
}

.detailsDisplayBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    width: 500px;
    border-radius: 12px;
    background-color: var(--darkBackground02);
    margin-bottom: 20px;

    h1 {
        font-size: 32px;
        color: var(--white);
        text-transform: capitalize;
        margin: 0;
    }

    .detailsTextBox {
        h2 {
            font-size: 16px;
            color: var(--white);
        }

        p {
            color: var(--white);
            font-size: 12px;
            margin: 0;
        }

        .totalBox {
            background-color: var(--primaryColor);
            width: fit-content;
            padding: 5px 12px 5px 12px;
            border-radius: 6px;
        }
    }
}

.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filterBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .filterOption {
        border: 1px solid var(--white);
        padding: 0px 20px 0px 20px;
        cursor: pointer;
        transition: all ease-in-out .1s;
        color: var(--white);

        &:hover {
            // background-color: #909498;
            transition: all ease-in-out .1s;
            // Glass Effect
            background: rgba(144, 19, 254, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            // border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
    }

    .filterOption01 {
        border: 1px solid var(--white);
        padding: 0px 20px 0px 20px;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
        transition: all ease-in-out .1s;
        color: var(--white);

        &:hover {
            // background-color: #909498;
            transition: all ease-in-out .1s;
            // Glass Effect
            background: rgba(144, 19, 254, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            // border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
    }

    .filterOption04 {
        border: 1px solid var(--white);
        padding: 0px 20px 0px 20px;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
        transition: all ease-in-out .1s;
        color: var(--white);

        &:hover {
            // background-color: #909498;
            transition: all ease-in-out .1s;
            // Glass Effect
            background: rgba(144, 19, 254, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            // border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
    }

    .filterOptionText {
        font-size: 12px;
        font-weight: 600px;
    }
}





.secondaryFilterCon {
    display: flex;
    gap: 10px;
}

.searchFieldCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #E5E5E6;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;

    img {
        width: 16px;
    }
}

.filterSearchInput {
    // border: 1px solid #E5E5E6;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--white);
}

.dropDownMenu {

    .filterButton {
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out .1s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--white);
        padding: 6px;

        img {
            width: 16px;
        }

        &:hover {
            background-color: #dadada;
            transition: all ease-in-out .1s;
            // color: #fff;
        }
    }

    .dropDownContent {
        display: none;
        position: absolute;
        // right: 165px;
        right: 150px;
        // background-color: var(--darkBackground02);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        button {
            padding: 8px 30px 8px 30px;
            outline: none;
            border: none;
            cursor: pointer;
            width: 100%;
            // background-color: var(--darkGray);
            background-color: transparent;
            color: var(--white);

            &:hover {
                background-color: var(--primaryColor);
                color: var(--white);
            }
        }
    }

    &:hover .dropDownContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px 12px 12px 12px;
        overflow: hidden;
        // backdrop-filter: blur(5px);
        border: 1px solid $borderColor02;
        // Glass Effect
        background: rgba(70, 70, 70, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}


.transactionTableMianCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 24px 10px 24px;
    border-radius: 10px;
    border: 2px solid var(--darkStroke);
    background-color: var(--darkBackground02);
    gap: 10px;
    width: 95%;
    margin-bottom: 40px;
    // width: 1098px;
}

.tableTopRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
        color: var(--white);
    }
}

.innerTableCon {
    width: 100%;
}

.contentRowTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
    // width: 1072px;
}

.nameDataBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    // background-color: #7E4AC0;
}

.userProfilePlacholder {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #7E4AC0;
}

.userNameData {
    display: flex;
    flex-direction: column;
    height: 50px;
    // background-color: #7E4AC0;
}

.tableText01 {
    font-size: 16px;
    color: var(--white);
}

.dataIdNumber {
    font-size: 12px;
    color: var(--grayedTextColor);
    position: relative;
    top: -25px;
}

.timeData {
    line-height: 0px;
    font-size: 12px;
    color: var(--grayedTextColor);
    position: relative;
    top: -10px;
}

.dateData {
    font-size: 16px;
}

.invoiceDataBlock {
    p {
        color: var(--grayedTextColor);
    }
}


.detailsBtn {
    background-color: var(--primaryColor);
    color: var(--white);
    outline: none;
    border: 1px solid #625671;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px 4px 10px;
    border-radius: 5px;
    cursor: pointer;

    img {
        width: 18px;
    }
}

.positiveText {
    color: var(--positiveColor);
}

.negativeText {
    color: var(--negative);
}

.transactionDateBlock,
.timeDataBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}